body {
    overflow-x: hidden;
    margin-top: 12vh;
}

.container-noticia {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;
    margin: 20px auto;
    justify-content: space-between;
    overflow-x: hidden;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.noticia-principal {
    background-image: url('../imgs-noticias/tysonPaul.jpg');
    background-size: cover;
    background-position: center;
    width: 66%;
    border-radius: 15px;
    position: relative;

}

.noticias-sec {
    display: flex;
    flex-direction: column;
    width: 31%;
    justify-content: space-between;
}

.not1, .not2 {
    position: relative;
    background-size: cover;
    background-position: center;
    padding-top: 59%;
    width: 100%;
    border-radius: 15px;
}

.not1 {
    background-image: url('../imgs-noticias/anderson.jpeg');
    margin-bottom: 10px;
}

.not2 {
    background-image: url('../imgs-noticias/benBettle.png');
}

.texto-principal, .texto-sec {
    position: absolute;
    bottom: 0;
    margin: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .8);
    color: #fff;
    font-size: 25px;
}

.texto-principal {
    margin-bottom: 25px;
}

.noticias-inferior {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

.cards-noti {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 25px;
    width: 100%;
    max-width: 800px;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.cards-noti img {
    width: 100%;
    max-width: 320px;
    margin-right: 10px;
    flex-shrink: 0;
    border-radius: 10px;
}

.cards-noti div {
    flex: 1;
}

h1 {
    font-size: 25px;
    color: #ffffff;
}

p {
    font-size: 20px;
    color: #928f8f;
}

@media (max-width: 768px) {
    main {
        margin: 20px;
    }
    .container-noticia {
        flex-direction: column;
        align-items: center;
        width: calc(100% - 20px);
    }
    .noticia-principal, .not1, .not2 {
        width: 100%;
        max-width: 620px;
        margin-bottom: 20px;
        padding-top: 59%;
        background-size: cover;
        background-position: center;
    }
    .noticias-sec {
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 320px;
    }
    .texto-principal, .texto-sec{
        font-size: 20px;
    }
    .not1, .not2 {
        width: 100%;
        max-width: 320px;
        margin-bottom: 20px;
    }
    .cards-noti {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .cards-noti img {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .container-noticia {
        margin-bottom: 40px;
    }
    .cards-noti {
        padding-bottom: 30px;
    }
}
