body {
    overflow-x: hidden;
}
.container-noticia {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;
    margin: 20px auto;
    justify-content: space-between;
    overflow-x: hidden;
}

.noticia-principal {
    background-image: url('../imgs-noticias/tysonPaul.jpg');
    background-size: cover;
    background-position: center;
    width: 66.66%;
    border-radius: 15px;
    position: relative;
    padding-top: 37.5%;
}

.noticias-sec {
    display: flex;
    flex-direction: column;
    width: 31.33%;
    justify-content: space-between;
}

.not1, .not2 {
    position: relative;
    background-size: cover;
    background-position: center;
    padding-top: 50%;
    width: 100%;
    border-radius: 15px;
}

.not1 {
    background-image: url('../imgs-noticias/anderson.jpeg');
}

.not2 {
    background-image: url('../imgs-noticias/benBettle.png');
}

.texto-principal, .texto-sec {
    position: absolute;
    bottom: 0;
    margin: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .8);
    color: #fff;
}

.texto-sec {
    font-size: 25px;
}

.texto-principal {
    margin-bottom: 25px;
}

.noticias-inferior {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

.cards-noti {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 25px;
    width: 100%;
    max-width: 800px;
    align-items: center;
}

.cards-noti img {
    width: 100%;
    max-width: 320px;
    margin-right: 10px;
    flex-shrink: 0;
    border-radius: 10px;
}

.cards-noti div {
    flex: 1;
}

h1 {
    font-size: 25px;
    color: #ffffff;
}

p {
    font-size: 20px;
    color: #928f8f;
}

@media (max-width: 768px) {
    .container-noticia {
        flex-direction: column;
        align-items: center;
    }

    .noticia-principal, .noticias-sec {
        width: 100%;
    }

    .noticias-sec {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .not1, .not2 {
        width: 48%;
        margin: 1%;
    }

    .cards-noti {
        flex-direction: column;
        align-items: center;
    }

    .cards-noti img {
        margin-right: 0;
        margin-bottom: 10px;
    }
}