* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 45px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  margin: 25px;
}

.cards3 {
  justify-content: space-around;
}

main > h1 {
  text-align: center;
  width: 100%;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.indv-cards {
  width: calc(100% - 40px);
  max-width: 520px;
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
  border: 18px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

iframe {
  margin: 15px auto;
  max-width: 100%;
  width: 420px;
  height: 315px;
  
}

p {
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  main {
    margin: 10px;
    justify-content: center;
    align-items: center;
  }
  .indv-cards {
    width: calc(100% - 30px);
    padding: 25px;
    max-width: none;
  }
  iframe {
    width: 320px;
    height: 215px;
  }
}

@media screen and (max-width: 600px) {
  main {
    margin: 10px;
    justify-content: center;
    align-items: center;
  }
  .indv-cards {
    width: calc(100% - 30px);
    padding: 25px;
    max-width: none;
  }
}
